<% content_for :title, "Editing friend" %>

<h1>Editing friend</h1>

<%= render "form", friend: @friend %>

<br>

<div class="card">
  <div class="card-header">
    
  </div>
  <div class="card-body">
    <%= link_to "Show this friend", @friend, class: "btn btn-info" %> |
    <%= link_to "Back to friends", friends_path, class: "btn btn-info" %>
  </div>
</div>
<br/>
