
<% content_for :title, "Friends" %>

<h1>Friends List</h1>
<br/>

<h5>
<div class="container">
  <div id="friends">
  <% @friends.each do |friend| %>
    <%= render friend %>
    <p>
      <%= link_to "Show this friend", friend , class:"btn btn-secondary" %>
    </p>
  <% end %>
</div>
</div>
<h5/>

<%= link_to "New friend", new_friend_path, class: "btn btn-primary" %>